body {
    background-color: bisque;
    text-align: center;
}

header {
    text-align: left;
}

h1 {
    color: coral;
}

nav ul {
    background-color: coral;
    padding: 0.4em 0;
}

ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav li a, li a {
    color: darkred;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;

}

nav li a:hover, li a:hover {
    color: pink;
}

.wrapper{
    margin: auto 0px;
    text-align: center;
}

dd,dt {
    margin-left: 0;
}
dt {
    margin-top: 0.5em;
}
dd {
    font-weight: bold;
}
dd ul {
    margin-top: 0;
}

.naastMekaar {
    padding-left: 0;
}
.naastMekaar li {
    display:inline;
}

.onderElkaar label{
    display:block;
    margin-bottom: 5px;
}

.onderElkaar input{
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.fout{
    color: red;
}

.verborgen{
    display: none;
}

.commentaarDiv{
    text-align: center;
    width: 300px;
    margin: 0px 33%;
}