<header th:fragment="menu" xmlns:th='http://www.thymeleaf.org'>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/sauzen}">Sauzen</a></li>
            <li><a th:href="@{/taal}">Taal</a></li>
        </ul>
    </nav>
</header>

<head th:fragment="head(title)" xmlns:th='http://www.thymeleaf.org'>
    <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/frida.css}">
    <title th:text="${title}"></title>
</head>