<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frituur Frida Home</title>
    <link rel="icon" href="images/frida.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/frida.css">
</head>
<body>
<h1>Frituur Frida</h1>
<h2>Vandaag zijn wij <span th:text="${boodschap}"></span></h2>
<h2>U vindt ons op het volgende adres:<span th:object="${frituurAdres}" th:text="| *{straat} *{huisNr}
*{gemeente.postcode} *{gemeente.naam}|"></span></h2>
</body>
</html>