<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Frituur Frida')">
</head>
<body>
<header th:replace="fragments::menu"></header>
<h1>Frituur Frida</h1>
<h2 th:if="${bezocht}">Welkom terug</h2>
<div th:if="${param.snackNietgevonden} != null"><span th:text="${param.snackNietGevonden}"></span> werd niet gevonden.</div>
<h2>Vandaag zijn wij <span th:text="${boodschap}"></span></h2>
<h2>U vindt ons op het volgende adres:<span th:object="${frituurAdres}" th:text="| *{straat} *{huisNr}
*{gemeente.postcode} *{gemeente.naam}|"></span></h2>
</body>
</html>