<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='wijzig een snack')"></head>
<body>
<script th:src="@{/js/preventDoubleSubmit.js}" defer></script>
<nav th:replace="fragments::menu"></nav>
<h1>Wijzigen</h1>
<form  th:if="${snack} != null" th:object="${snack}" th:method="post" th:action="@{/snacks/wijzigen}">
<label>Naam:<span th:errors="*{naam}"></span><input th:field="*{naam}" autofocus required></label>
<label>Prijs:<span th:errors="*{prijs}"></span><input th:field="*{prijs}" required type="number" min="0"></label>
<input type="hidden" name="id" th:value="*{id}">
    <button>Opslaan</button>
</form>
<div th:if="${snack} == null">Snack niet gevonden</div>
</body>
</html>